.profile__avatar-edit{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background-repeat: no-repeat;
    object-fit: scale-down;
    border-radius: 40%;
    transition: all .2s linear;
    object-position: center;
    min-width: 120px;
    min-height: 120px;
    margin: auto;
    opacity: 0;
}

.profile__avatar-edit:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .8);
}