.elements {
    display: grid;
    column-gap: 17px;
    row-gap: 20px;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    margin: 0 0 66px;
}

@media screen and (max-width: 920px) {
    .elements {
        margin: 0 19px 48px;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }
}

@media screen and (max-width: 570px) {
    .elements {
        margin: 0 19px 48px;
        grid-template: repeat(4, 1fr) /  1fr;
    }
}