.popup__close-avatar-btn{
    position: relative;
    display: block;
    width: 32px;
    top: -321px;
    right: -438px;
    transition: opacity .3s ease-in-out;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.popup__close-avatar-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 520px) {
    .popup__close-avatar-btn {
        width: 20px;
        height: 20px;
        top: -358px;
        right: calc(-100% + 19px);
    }
}
