.popup__container {
    min-width: 430px;
    z-index: 3;
}

@media screen and (max-width: 520px) {
    .popup__container {
        max-width: calc(100% - 38px);
        min-width: 282px;
        margin: 0 auto 0;
        min-height: 322px;
    }
}